
/* for dark mode only */
:root[data-theme="dark"] {
    --theme: #000000; /* main page background */
    --entry: #550000; /* cards / list */

    --code-block-bg: #110000; /* FINALLY!! */
    --code-bg: rgb(0, 0, 0);
    --border: rgb(0, 0, 0);
}

.main {
    max-width: 800px;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: EB-Garamond;
}

/* justify text */
main p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

/* adjusting inline math font size (KaTeX) */
.katex {
    font-size: 1em !important;
}
